node_modules/
!/src/node_modules/
!/test/node_modules/
package-lock.json
*.heapsnapshot
.DS_Store
Thumbs.db
*.stackdump
*~
.vscode/
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace
*.log
npm-debug.log.*
.nyc_output/
lib/
dist/
package/
build/
.jscpd/
!scripts/build
reports/
*.tgz
*.tmp
*.bak
*.swp
.npmrc
yarn.lock
